body {
    background-color: #75f542;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: none;
}

.jumbotron {
    margin: 0 auto;

    max-width: 85%;
}
.btn {
    background-color: #e9ecef;
    box-shadow: 4px 2px;
}

.col-lg-6 {
    margin: 10px auto;
    width: 85%;
    background-color: #eafce3;
    box-shadow: 5px 10px #7fb882;

    border: 3px solid black;
    padding: 10px 10px 20px 10px;
    text-align: center;
}